.featured-item .thumb-img:before {  
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}

.featured-item { margin-bottom: 30px; }

.featured-places .section-heading h2 {
    margin-bottom: 20px;
}

.featured-places .section-heading p {
    font-size: 18px;
    margin-bottom: 20px;
}

.featured-places .featured-item .thumb {
    position: relative;
    z-index: 1;
}

.featured-places .featured-item .thumb img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.featured-places .featured-item .thumb .overlay-content {
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 30px;
    color: #fff;
}

.featured-places .featured-item .thumb .overlay-content li {
    display: inline;
    margin-right: 3px;
}

.featured-places .featured-item .thumb .date-content {
    position: absolute;
    z-index: 9;
    top: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #4883ff;
    border-radius: 50%;
}

.featured-places .featured-item .thumb .date-content h6 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.featured-places .featured-item .thumb .date-content span {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
}

.featured-places .featured-item .down-content {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 20px 20px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.featured-places .featured-item .down-content h4 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #232323;
    margin-bottom: 15px;
}

.featured-places .featured-item .down-content span {
    display: block;
    font-size: 14px;
    color: #4883ff;
    margin-bottom: 15px;
}

.featured-places .featured-item .down-content span strong { 
    font-size: 22px;
}

.featured-places .featured-item .down-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.featured-places .featured-item .down-content li {
    font-size: 18px;
    
}

.featured-places .featured-item .down-content .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.featured-places .featured-item .down-content .text-button {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ddd;
    margin: 0px -20px;
}

.featured-places .featured-item .down-content .first-button {
    border-right: 1px solid #ddd;
}

.featured-places .featured-item .down-content .text-button a {
    font-size: 12px;
    text-transform: uppercase;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: all 0.5s;
}

.featured-places .featured-item .down-content .text-button a:hover {
    color: #4883ff;
}
